/*
#relationPromo{
	background-color: rgba(27, 179, 188, .2) !important;
	padding: 60px 0;
}

#relationPromo .promo-relation p{
	max-width: 400px;
	font-size: 18px;
	line-height: 20px;
	color: #444;
	display: inline-block;
	margin: 0 auto;
	font-weight: 300;
	margin-top: 20px!important;
	margin-bottom: 40px;
}

#relationPromo .promo-relation h2{
	font-family: "SantanderTextW05-Bold";
	font-size: 28px;
	line-height: 32.8px;
	font-weight: 700;
}	

#relationPromo .mt40{margin-top:60px;}*/